*,::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color:#C5E4E7;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor{
    margin: auto;
    padding: 0px 15px;
    background-color: rgb(242, 242, 242);
    color: #085e66;
    border-radius: 20px;
    text-align: left;
}


.input{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 500px;
    height: 70px;
    border: none;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    font-size: 40px;
}

.box {
    height: 140px;
    padding: 30px 30px 30px 10px;
    display: inline;
    border: none;
    text-align: left;
}
.titulo {
    padding: 10px 10px 0 10px;
    display: inline-block;
    align-items: center;
    color: #085e66;
}

.subtitulo{
    margin-bottom: 10px;

}
.label{
    margin-left: 10px;
}


.form{
   

}


/*

@media (min-width:1025px) and (max-width:1236px)




@media (min-width:769px) and (max-width:1024px)




@media (min-width:481px) and (max-width:768px)





*/