*,::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color:#C5E4E7;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card{

}
.contenedor{
    width: 560px;
    margin: auto;
    padding: 0px 15px;
    background-color: rgb(242, 242, 242);
    color: #085e66;
    border-radius: 20px;
    text-align: left;
}
.input{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 560px;
    height: 70px;
    border: none;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    font-size: 40px;
}
.box {
    height: 100px;
    padding: 30px;
    display: inline;
    border: none;
    text-align: left;
}
.label{
    margin-left: 10px;
}
.titulo {
    padding: 10px 10px 0 10px;
    display: inline-block;
    align-items: center;
    color: #085e66;
}
.form{
    padding: 15px;
}


/*

@media (min-width:1025px) and (max-width:1236px)




@media (min-width:769px) and (max-width:1024px)




@media (min-width:481px) and (max-width:768px)





*/